[submodule "dependencies/gs2lib"]
	path = dependencies/gs2lib
	url = https://github.com/ceantixdev/gs2lib.git
[submodule "dependencies/mysql-modern-cpp"]
	path = dependencies/mysql-modern-cpp
	url = https://github.com/daotrungkien/mysql-modern-cpp.git
[submodule "dependencies/mysqlclient"]
	path = dependencies/mysqlclient
	url = https://github.com/MariaDB/mariadb-connector-c.git
[submodule "build/_deps/catch2-src"]
	path = build/_deps/catch2-src
	url = https://github.com/ceantixdev/catch2-src.git